CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_CPU_TYPE="cortex-a53"
CONFIG_LINUX_5_10=y
CONFIG_DEFAULT_ath11k-firmware-ipq8074=y
CONFIG_DEFAULT_autocore-arm=y
CONFIG_DEFAULT_base-files=y
CONFIG_DEFAULT_busybox=y
CONFIG_DEFAULT_coremark=y
CONFIG_DEFAULT_htop=y
CONFIG_DEFAULT_ipq-wifi-redmi_ax6=y
CONFIG_DEFAULT_iptables=y
CONFIG_DEFAULT_iwinfo=y
CONFIG_DEFAULT_kmod-ath11k-ahb=y
CONFIG_DEFAULT_firewall=y
CONFIG_DEFAULT_kmod-gpio-button-hotplug=y
CONFIG_DEFAULT_kmod-ipt-raw=y
CONFIG_DEFAULT_kmod-leds-gpio=y
CONFIG_DEFAULT_kmod-nf-nathelper=y
CONFIG_DEFAULT_kmod-nf-nathelper-extra=y
CONFIG_DEFAULT_kmod-qca-nss-dp=y
CONFIG_DEFAULT_kmod-qca-nss-drv-64=y
CONFIG_DEFAULT_kmod-qca-nss-drv-pppoe-64=y
CONFIG_DEFAULT_kmod-qca-nss-ecm-64=y
CONFIG_DEFAULT_nss-firmware-ipq8074=y
CONFIG_DEFAULT_kmod-tun=y
CONFIG_DEFAULT_luci=y
CONFIG_DEFAULT_luci-app-advanced=y
CONFIG_DEFAULT_luci-app-upnp=y
CONFIG_DEFAULT_luci-app-turboacc=y
CONFIG_DEFAULT_opkg=y
CONFIG_DEFAULT_ppp=y
CONFIG_DEFAULT_ppp-mod-pppoe=y
CONFIG_DEFAULT_procd=y
CONFIG_DEFAULT_uboot-envtools=y
CONFIG_DEFAULT_uci=y
CONFIG_DEFAULT_uclient-fetch=y
CONFIG_DEFAULT_urandom-seed=y
CONFIG_DEFAULT_wpad-openssl=y
CONFIG_HAS_FPU=y
CONFIG_PCIE_SUPPORT=y
CONFIG_aarch64=y
CONFIG_ARCH="aarch64"
CONFIG_IPV6=y
CONFIG_KERNEL_IP_MROUTE=y
CONFIG_KERNEL_IPV6=y
CONFIG_KERNEL_IPV6_MULTIPLE_TABLES=y
CONFIG_KERNEL_IPV6_SUBTREES=y
CONFIG_KERNEL_IPV6_MROUTE=y
CONFIG_KERNEL_IPV6_SEG6_LWTUNNEL=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_bash=y
CONFIG_ATH11K_THERMAL=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_PACKAGE_kmod-ath11k-ahb=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_MAC80211_NSS_SUPPORT=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_nano=y
